/* custom css */

#b1{                /* css modification for button in home page */
    display: flexbox;
    position:absolute;
    right: 600px;
    top: 550px;
    width: 100px;
    height: 50px;
    border-radius: 25px;
}

#p1{            /* css modification for mission statement in home page */
    background-color: rgb(79, 87, 94);
    padding: 30px;
    margin: 50px;
    position: absolute;
    left: 15px;
    top: 210px;
    border-radius: 25px;
}
h4 {
    margin: 0 0 20px;
    font-weight: 400;
    color: #ec9fab;
    }

    form {
    padding: 25px;
    margin: 25px;
    box-shadow: 0 2px 5px #f39494; 
    background: #583535; 
    }
   